/* ==========================================================================
confirmation page styles
========================================================================== */

ul.custom {
  list-style-type: disc;
}

.bodyfont {
  font-size: 1.25rem;
}

a {
  color: #005ea2;
  font-weight: bold;
}

@media (min-width: 64em) {
  .usa-button--outline {
    float: right;
  }
  .skinnier {
    margin-right: 8rem;
  }
}
@media (max-width: 63.99em) {
  .skinnier {
    margin-right: 1rem;
  }
}
